@font-face {
  font-family: 'RobotoMonoLight';
  src: local('RobotoMonoLight'), url(./fonts/RobotoMono-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'RobotoMonoRegular';
  src: local('RobotoMonoRegular'), url(./fonts/RobotoMono-Regular.ttf) format('truetype');
}

body {
  background-color: #F5F5F5;
  font-family: 'RobotoMonoLight', monospace;
  color: #212121;
  transition: all 0.5s;
}

/* WRAPPER */

#site-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* HEADER */

header {
  position: relative;
  text-align: center;
}

#profile-pic img {
  margin-top: 60px;
  border-radius: 50%;
  width: 200px;
}

span.home-button {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

span.home-button:hover {
  font-size: 31px;
  font-family: 'RobotoMonoLight', monospace;
}

h1 {
  font-family: 'RobotoMonoRegular', monospace;
}

h2 {
  margin-top: -10px;
  font-size: 25px;
}

/* NAV */

nav {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  padding: 7px 10px 7px 10px;
  text-align: center;
  margin: 10px;
  border-radius: 3px;
  font-weight: 600;
}

#linkedin {
  background: linear-gradient(to right, rgb(116, 152, 250) 50%, transparent 50%);
  border: 1px solid rgb(116, 152, 250);
  transition: background 0.2s ease-in-out;
  background-size: 200% 100%;
  background-position: right bottom;
}

#blog {
  background: linear-gradient(to right, #31D2F7 50%, transparent 50%);
  border: 1px solid #31D2F7;
  transition: background 0.2s ease-in-out;
  background-size: 200% 100%;
  background-position: right bottom;
}

#github {
  background: linear-gradient(to right, rgb(102, 255, 217) 50%, transparent 50%);
  border: 1px solid rgb(102, 255, 217);
  transition: background 0.2s ease-in-out;
  background-size: 200% 100%;
  background-position: right bottom;
}

#codepen {
  background: linear-gradient(to right, #F495BF 50%, transparent 50%);
  border: 1px solid #F495BF;
  transition: background 0.2s ease-in-out;
  background-size: 200% 100%;
  background-position: right bottom;
}

#twitter {
  background: linear-gradient(to right, rgb(185, 149, 244) 50%, transparent 50%);
  border: 1px solid rgb(185, 149, 244);
  transition: background 0.2s ease-in-out;
  background-size: 200% 100%;
  background-position: right bottom;
}

#mail {
  background: linear-gradient(to right, #FFF100 50%, transparent 50%);
  border: 1px solid #FFF100;
  transition: background 0.2s ease-in-out;
  background-size: 200% 100%;
  background-position: right bottom;
}

#linkedin:hover, #blog:hover, #github:hover, #codepen:hover, #twitter:hover, #mail:hover {
  background-position: left bottom;
  text-decoration: none;
}


/* MAIN */

main {
  font-size: 16px;
  line-height: 1.7;
  max-width: 800px;
  width: 100%;
  margin: -20px auto;
}

.page-title, .page-subtitle {
  text-align: center;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 19px;
}

/* LINKS */

a {
  color : inherit;
  text-decoration: none;
  font-weight: 600;
  transition: font-weight 0.1s;
}

a:hover {
  text-decoration: underline;
}

/* DARK MODE BUTTON */

#dark-mode-button {
  position: absolute;
  top: 10px;
  right: 0;
  width: 60px;
  height: 25px;
  border: 2px solid #ADADAD;
  border-radius: 20px;
  transition: all 0.5s;
}

#dark-mode-button:hover {
  cursor: pointer;
}

#dark-mode-switch {
  position: absolute;
  top: 1px;
  left: 2px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #ADADAD;
  transition: all 0.5s;
}

/* FOOTER */

.footer-links {
  list-style: none;
  text-align: center;
  margin: 90px 0 10px -45px;
  font-size: 14px;
}

.footer-links li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.copyrights p {
  text-align: center;
  font-size: 13px;
}